/* estilos generales */
#shop{
    position: absolute;
    right: 20%;
}
body{
    padding: 0;
    margin: 0;
}
.offcanvas{
    --bs-offcanvas-width:330px;
}

.offcanvas-backdrop{
    min-width: 350px;
    min-height: 2040px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 1.5rem;
    color: #fff;

}
h2{
    font-size: 0.7rem;
    color: #fff;
}
/* seccion hero */
.hero{
    background-color: #000;
    min-width: 350px;
    min-height: 300px;
    text-align: center;
    z-index: 2;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    

}

.hero-principal .imagen-portada{
    background-size: cover;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
}

.hero-principal{
    padding: 3rem;
}
.accordion{
    width: 100%;

}

.about-container{
    height: 400px;
    padding: 10px;
    text-align: center;
    background-color: #1b1b32;
    margin-top: 14rem;
}
.about-container h1,p{
    color: #fff
    ;
}
.card-text{
    color: #000;
    font-size: 0.8rem;
}
.test{
    
    /* /* width: 100px; */
    min-width: 55px;
    max-height: 600px;

}
.test img{
    object-fit: cover;
    border-radius: 4%;
    border: 1px solid #c62d8f ;
}
.test p{
    color: #000;
    font-size: 12px;
    /* con este codigo css no deja que se apile el text */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* tener en cuenta proximos proyectos */
    text-align: center;
    font-weight: bold;
    width: 90%;
    overflow: hidden;
    overflow-y: hidden;
}
.estados{
    color: #000;
    border: 1px solid rgba(219, 219, 219, 1);
    overflow: hidden;
    min-height: 200px;
    min-width: 350px;
}
.about-container .container{

    max-width: 1100px;
    max-height: 600px;
    padding: 20px;
}
.about-container .rectangulo{
    margin-top: -14rem;
    background-color: #2D033B;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #E5B8F4;
}
.about-container .row{
    width: 100%;
    display: flex;
    align-items:center ;
}
.about-container .descripcion{
    color: white;
    font-size: 1.2rem;
}
.about-container button{
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 1.25em  2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.about-container button i{
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}
.about-container button:hover{
    background-color: #2D033B;
    color: #c62d8f;
    border: 2px solid #c62d8f;
}
.about-container button:hover i{
    color: #c62d8f;
}
.offcanvas-body{
    padding: 0;
}
.Total{
    color: #000;
}
a{
    cursor: pointer;
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.publicidad-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-publicidad{
    font-size: 2rem;
    background: linear-gradient(270deg, #3f5efb,#fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.platosTitleCont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.platosText{
    color: #000;
    font-size: 2rem;
    background: linear-gradient(270deg, #3f5efb,#fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.addCart:hover{
    background-color: #c62d8f;
}
.input-cant{
    background: none;
    width: 1.5rem ;
    border: none;
}
.h5E{
    background: linear-gradient(270deg, #3f5efb,#fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}
.inpEspecification{
    background-color: #212121;
    width: 90%;
    color: #fff;
    padding: 10px;
    font-size: .9rem;

    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}
.inpEspecification:focus{
    color: #fff;
    background-color: #212121;
    outline-color: rgb(0, 64, 241);
    box-shadow: -3px -3px 15px rgb(0, 64, 241);
    transition: .1s;
    transition-property: box-shadow;
}
.anterior_carousel{
    background:none;
    border: none;
}

.siguiente_carousel{
    background:none;
    border: none;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-container .swiper-slide{
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}
.swiper-button-next{
    right: 26px !important;
    top: 0;
}
.swiper-button-prev{
    left: 26px !important;
}
h5{
    font-size: 0.8rem;
}
.card-body .card-text,.card-title{
    margin-bottom: 0;
}
.card-body a{
    display: flex;
    border-radius: 30%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3f5efb;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 1rem;
}
#img-cards{
    width: 8rem !important;
    object-fit: cover;
    aspect-ratio: 3/2;
    padding: 15px;
}
.Send{
    color: #7cfc00;
    padding: 3px;
    height: 2.3rem;
}

@media screen and (max-width: 373px){
    h1{
        font-size: 1rem;
    
    }
    h2{
        font-size: 0.7rem;
    }
    h5{
        font-size: 0.8rem;
    }
    .card-body .card-text,.card-title{
        margin-bottom: 0;
    }
    .card-body a{
        display: flex;
        border-radius: 30%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #3f5efb;
        width: 25px;
        height: 25px;
        color: #fff;
        font-size: 1rem;
    }

    #img-cards{
        width: 8rem !important;
        object-fit: cover;
        aspect-ratio: 3/2;
        padding: 15px;
    }
   
}

@media screen and (min-width: 879px){
    .test p{
        overflow-y: visible;
        overflow: visible;
    }
    h5{
        font-size: 0.8rem;
    }
    .card-body .card-text,.card-title{
        margin-bottom: 0;
    }
       .card-body a{
        display: flex;
        border-radius: 30%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #3f5efb;
        width: 25px;
        height: 25px;
        color: #fff;
        font-size: 1rem;
    }
    #img-cards{
        width: 8rem !important;
        object-fit: cover;
        aspect-ratio: 3/2;
        padding: 15px;
    }
}

@media screen and (max-width: 317px){

    #shop{
        right: -10%;
    }
        h5{
        font-size: 0.8rem;
    }
    .card-body .card-text,.card-title{
        margin-bottom: 0;
    }
    .card-body a{
        display: flex;
        border-radius: 30%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #3f5efb;
        width: 25px;
        height: 25px;
        color: #fff;
        font-size: 1rem;
    } 
    #img-cards{
        width: 8rem !important;
        object-fit: cover;
        aspect-ratio: 3/2;
        padding: 15px;
    }

}

@media  screen and (min-width: 460px) {

    #shop{
        right: 15%;
    }
    h5{
        font-size: 0.8rem;
    }
    .card-body .card-text,.card-title{
        margin-bottom: 0;
    }
    .card-body a{
        display: flex;
        border-radius: 30%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #3f5efb;
        width: 25px;
        height: 25px;
        color: #fff;
        font-size: 1rem;
    }
    #img-cards{
        width: 8rem !important;
        object-fit: cover;
        aspect-ratio: 3/2;
        padding: 15px;
    }
}
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 

        h5{
            font-size: 0.8rem;
        }
        .card-body .card-text,.card-title{
            margin-bottom: 0;
        }
        .card-body a{
            display: flex;
            border-radius: 30%;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #3f5efb;
            width: 25px;
            height: 25px;
            color: #fff;
            font-size: 1rem;
        }
        #img-cards{
            width: 8rem !important;
            object-fit: cover;
            aspect-ratio: 3/2;
            padding: 15px;
        }
    }

@media only screen 
    and (device-width: 286px) 
    and (device-height: 623px) 
    and (-webkit-device-pixel-ratio: 3){
        h5{
            font-size: 0.8rem;
        }
        .card-body .card-text,.card-title{
            margin-bottom: 0;
        }
        .card-body a{
            display: flex;
            border-radius: 30%;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #3f5efb;
            width: 25px;
            height: 25px;
            color: #fff;
            font-size: 1rem;
        }
        #img-cards{
            width: 8rem !important;
            object-fit: cover;
            aspect-ratio: 3/2;
            padding: 15px;
        }
    }